# -*- coding: utf-8 -*-

class LDAP:
    URI = 'ldap://10.0.1.7:389/'
    BASE = 'dc=c-base,dc=org'
    USERBASE = 'ou=crew'
    BINDDN = 'cn=c-labpin,ou=bind,dc=c-base,dc=org'
    BINDPW = 'ENTER PWD HERE'
    PINFIELD = 'c-labPIN'
    UIDFIELD ='uid'
    ACCESS_FILTER ='(&(uidNumber={})(memberof=cn=cey-c-lab,ou=groups,dc=c-base,dc=org)(memberof=cn=crew,ou=groups,dc=c-base,dc=org))'

